
<script type="text/x-red" data-template-name="unknown">
    <div class="form-tips"><span data-i18n="[html]unknown.tip"></span></div>
</script>

<script type="text/x-red" data-help-name="unknown">
    <p>This node is a type unknown to your installation of Node-FLOW.</p>
    <h3>Details</h3>
    <p><i>If you deploy with the node in this state, its configuration will be preserved, but
    the flow will not start until the missing type is installed.</i></p>
    <p>Use the <code>Menu - Manage Palette</code> option
    to search for and install nodes, or <b>npm install &lt;module&gt;</b> to
    install, any missing modules and restart Node-FLOW and reimport the nodes.</p>
    <p>It is possible this node type is already installed, but is missing a dependency. Check the Node-FLOW start-up
    log for any error messages associated with the missing node type.</p>
    <p>Otherwise, you should contact the author of the flow to obtain a copy of the missing node type.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('unknown',{
        category: 'unknown',
        color:"#fff0f0",
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "",
        label: function() {
            return "("+this.name+")"||this._("unknown.label.unknown");
        },
        labelStyle: function() {
            return "node_label_unknown";
        }
    });
</script>
