/**
 * Copyright JS Foundation and other contributors, http://js.foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 **/

#notifications {
    z-index: 10000;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    position: absolute;
    top: 1px;
}
.notification {
    box-sizing: border-box;
    position: relative;
    padding: 8px 18px;
    margin-bottom: 4px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.15);
    background-color: #fff;
    color: #666;
    border: 1px solid #325C80;
    border-left-width: 16px;
    overflow: hidden;
}
.notification a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.notification-success {
    border-color: #4B8400;
}
.notification-warning {
    border-color: #D74108;
}
.notification-error {
    border-color: #AD1625;
}
